@font-face {
  font-family: Lexend Deca;
  src: local (Lexend Deca),
    url(Assets/Fonts/Lexend\ Deca/LexendDeca-ExtraLight.ttf),
    url(Assets/Fonts/Lexend\ Deca/LexendDeca-Regular.ttf),
    url(Assets/Fonts/Lexend\ Deca/LexendDeca-Bold.ttf);
}

* {
  font-family: Lexend Deca;
  margin: 0px;
}

h1 h2 p {
  color: #000000;
}

/* Body */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4b7aaf;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* end of body */

/* navbar */
nav {
  position: fixed;
  background-color: hsl(204 68% 55% / 1);
  width: 100%;
  display: flex;
  height: 80px;
  transition: 420ms;
}

nav h1 {
  color: #fff;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  font-size: 2rem;
}

.navicon {
  padding: 0;
}

.navIcon img {
  width: 60%;
  margin: 8px 0px 0px 5px;
}
.navMenu {
  display: block;
}

.navMenu li a {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  font-size: 1.7rem;
}

.navMenu li {
  transition: 800ms;
}

nav li {
  padding: 18px 25px;
}

.hamMenu {
  display: none;
  margin-left: 20px;
  margin-top: 15px;
}

.hamMenu img {
  width: 80%;
}
nav ul {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  list-style: none;
}

nav ul li {
  display: inline-block;
}
/* end of nav menu */

/* header */
header {
  background-color: hsl(204 56% 47% / 1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  height: 150px;
}

header h1 {
  color: white;
  font-weight: 350;
  letter-spacing: 0.8rem;
  font-size: 3.5rem;
  text-shadow: 9px 5px 8px #496d9c;
  margin: 0px 20px;
  animation-name: headerSlide;
  animation-duration: 1500ms;
}

@keyframes headerSlide {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* end of header */

/* sec1 */

.sect1 {
  margin: 5% 8% 0% 8%;
}

.sect1 h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5%;
  color: #fff;
  text-shadow: 3px 4px 2px #464e57;
}

.bglisc1 {
  font-size: 2.4rem;
  margin: 5% 2%;
  font-weight: 800;
  list-style-type: square;
  color: #fff;
  background-color: #3f6981;
  list-style-position: inside;
  text-align: justify;
  text-align-last: left;
  padding: 4%;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(29, 46, 61, 0.685);
}

.sect1 li p {
  font-size: 1.4rem;
  letter-spacing: 0.01rem;
  margin-bottom: 2%;
  font-weight: 320;
  letter-spacing: 0.1rem;
}

.sect1 ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-inline-start: 0;
}

/* end of sec1 */

/* sec 2 - gridImage */
#gridImage h1 {
  font-size: 4rem;
  text-align: center;
  color: #fff;
  text-shadow: 3px 4px 8px #464e57;
  margin-bottom: 5%;
}

.gridParent {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  height: 1040px;
}

.gridParent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8%;
}

.grid1 {
  grid-area: 1 / 2 / 5 / 6;
  /* background-color: red; */
  /* background-image: url(Assets/Images/vangogh_grid_potrait.png); */
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 8%;
  box-shadow: 2px 2px 10px rgba(29, 46, 61, 0.685);
}
.grid2 {
  grid-area: 5 / 2 / 10 / 6;
  /* background-color: blue; */
  /* background-image: url(Assets/Images/Leonardo_self.jpg); */
  background-position: center center;
  border-radius: 8%;
  box-shadow: 2px 2px 10px rgba(29, 46, 61, 0.685);
}
.grid3 {
  grid-area: 1 / 6 / 4 / 9;
  /* background-color: magenta; */
  /* background-image: url(Assets/Images/AndyWarhol.jpg); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  border-radius: 8%;
  box-shadow: 2px 2px 10px rgba(29, 46, 61, 0.685);
}
.grid4 {
  grid-area: 4 / 6 / 8 / 9;
  /* background-image: url(Assets/Images/Pablopicasso.jpg); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8%;
  box-shadow: 2px 2px 10px rgba(29, 46, 61, 0.685);
}
.grid5 {
  grid-area: 8 / 6 / 10 / 12;
  /* background-color: purple; */
  /* background-image: url(Assets/Images/HenriMatise.jpg); */
  background-position: 20% 15%;
  background-repeat: no-repeat;
  height: auto;
  border-radius: 8%;
  box-shadow: 2px 2px 10px rgba(29, 46, 61, 0.685);
  overflow: hidden;
}

.grid5 img {
  object-position: 10% 25%;
}

.grid6 {
  grid-area: 5 / 9 / 8 / 14;
  /* background-color: yellow; */
  /* background-image: url(Assets/Images/sherman-film-still-photo.webp); */
  background-position: 90% 0%;
  background-repeat: no-repeat;
  height: auto;
  border-radius: 8%;
  box-shadow: 2px 2px 10px rgba(29, 46, 61, 0.685);
  overflow: hidden;
}

.grid6 img {
  object-position: -350px 2%;
  width: 174%;
}
.grid7 {
  grid-area: 8 / 12 / 10 / 14;
  /* background-color: brown; */
  /* background-image: url(Assets/Images/Salvador_Dalí_1939.jpg); */
  background-position: center center;
  height: auto;
  border-radius: 8%;
  box-shadow: 2px 2px 10px rgba(29, 46, 61, 0.685);
}
.grid8 {
  grid-area: 1 / 9 / 5 / 14;
  /* background-color: gray; */
  /* background-image: url(assets/images/Louise_Bourgeois.jpg); */
  background-position: center center;
  border-radius: 8%;
  box-shadow: 2px 2px 10px rgba(29, 46, 61, 0.685);
}

/* end of sec2 */

/* Form */

form div {
  background-color: #6c89b4;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  color: white;
  margin: 5%;
}

form {
  font-size: 2.8rem;
}

form h2 {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  letter-spacing: 0.5vh;
  margin-top: 2%;
  margin-bottom: 2%;
}

button {
  background-color: #4c658a;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 1;
  border-radius: 30px;
  font-weight: 600;
  font-size: 2rem;
}

form input {
  width: 30vh;
  height: 3vh;
}

.clrPicker {
  width: 15vh;
  height: 5vh;
}

#buttonSbmt {
  margin-top: 5vh;
}

.buttonForm {
  background-color: hsl(216, 20%, 30%);
}

/* end of form */

/* hover */
.navMenu li:hover {
  background-color: #4475b4;
  border-radius: 0px 0px 25px 25px;
}
/* end of  hover */

/* Label */

label {
  margin: 5px;
}
input {
  margin: 10px;
}

/* End of Label */

/* Dark Mode */
nav button {
  width: 120px;
  height: 60px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.navbarDM {
  position: fixed;
  background-color: hsl(204 20% 20% / 1);
  width: 100%;
  display: flex;
  height: 80px;
  transition: 420ms;
}

.headersecDM {
  background-color: hsl(204 10% 15% / 1);
  padding-top: 40px;
  height: 150px;
  transition: 420ms;
}

header h1 {
  text-shadow: 7px 2px 8px #1f2834;
  transition: 420ms;
}

.dark-mode-toggle {
  margin-top: auto;
  margin-bottom: auto;
}

.dark-mode-toggle {
  color: #fff;
}

.formconDM {
  background-color: hsl(219, 25%, 20%);
}

/* Dark mode toggle button */

nav input {
  width: 0;
  height: 0;
  visibility: hidden;
}

nav label {
  width: 120px;
  height: 60px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(143, 142, 142, 0.4);
  cursor: pointer;
  transition: 420ms;
  margin-top: auto;
  margin-bottom: auto;
}

nav label:after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 420ms;
}

nav input:checked + label {
  background: hsl(204 20% 18% / 1);
}

nav input:checked + label:after {
  left: 107px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

nav label:active::after {
  width: 60px;
}

nav label svg {
  position: absolute;
  width: 24px;
  top: 40px;
  z-index: 100;
}

nav label svg.sunIcon {
  left: 17px;
  top: 21px;
  transition: 0.3s;
}

nav label svg.moonIcon {
  left: 75px;
  top: 21px;
  fill: #242424;
  transition: 0.3s;
}

nav input:checked + label svg.sunIcon {
  fill: #7e7e7e;
}
nav input:checked + label svg.moonIcon {
  fill: #ffffff;
}

/* end of dark mode toggle button */

.sec1DMa {
  background-color: hsl(202, 21%, 27%);
  box-shadow: 2px 2px 10px rgba(29, 46, 61, 0.685);
  font-size: 2.4rem;
  margin: 5% 2%;
  font-weight: 800;
  list-style-type: square;
  color: #fff;
  list-style-position: inside;
  text-align: justify;
  text-align-last: left;
  padding: 4%;
  border-radius: 20px;
}

.sec1DMb {
  background-color: hsl(202, 21%, 27%);
  box-shadow: 2px 2px 10px rgba(29, 46, 61, 0.685);
  font-size: 2.4rem;
  margin: 5% 2%;
  font-weight: 800;
  list-style-type: square;
  color: #fff;
  list-style-position: inside;
  text-align: justify;
  text-align-last: left;
  padding: 4%;
  border-radius: 20px;
}

/*  End of Dark Mode */

/* Carousell */
.carousel {
  padding: 2rem;
}

.carousel img {
  object-fit: cover;
}

.carousel h2 {
  font-size: 5vh;
  color: white;
  display: flex;
  margin-left: auto;
  margin-bottom: 20px;
  text-shadow: 5px 1px 9px #2f3741;
}

.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 10px;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #ffffff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

/* end of carousell */

/* responsive */

@media only screen and (max-width: 1023px) {
  .hamMenu {
    display: block;
  }
  .navMenu {
    display: none;
  }

  nav h1 {
    font-size: 1.2rem;
    margin-right: 0;
    margin-left: 0;
  }

  header h1 {
    color: white;
    font-weight: 380;
    letter-spacing: 0.8rem;
    font-size: 2.2rem;
    line-height: 2.3rem;
    text-shadow: 7px 2px 8px #496d9c;
    margin: 0px 20px;
  }
  main {
    color: white;
    text-shadow: 2px 1px 8px #3f6981;
  }
  body {
    background-image: url(Assets/Images/Tuttomondo_Mural_normal.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    backdrop-filter: blur(20px);
    backdrop-filter: brightness(120%);
    backdrop-filter: saturate(20%);
    backdrop-filter: contrast(80%);
    transition: 1s;
  }

  .bodyDM {
    backdrop-filter: blur(2px);
    backdrop-filter: brightness(40%);
    backdrop-filter: saturate(-10%);
    transition: 1s;
  }

  .sect1 ul {
    flex-direction: column;
  }

  .sect1 li {
    margin: 1% 2%;
  }
  .gridParent {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(34, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    height: 1040px;
    margin-bottom: 33px;
  }
  .grid1 {
    grid-area: 1 / 2 / 7 / 8;
    background-color: red;
    /* background-image: url(Assets/Images/vangogh_grid_potrait.png); */
    background-repeat: no-repeat;
    background-position: 10% 42%;
    background-size: cover;
    border-radius: 25%;
    box-shadow: 2px 2px 10px rgba(29, 46, 61, 0.685);
  }
  .grid2 {
    grid-area: 7 / 2 / 13 / 8;
    background-color: blue;
    /* background-image: url(Assets/Images/Leonardo_self.jpg); */
    background-position: 5% 28%;
    border-radius: 8%;
    box-shadow: 2px 2px 10px rgba(29, 46, 61, 0.685);
    background-size: cover;
  }
  .grid3 {
    grid-area: 1 / 8 / 13 / 14;
    background-color: magenta;
    /* background-image: url(Assets/Images/AndyWarhol.jpg); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    border-radius: 8%;
    box-shadow: 2px 2px 10px rgba(29, 46, 61, 0.685);
  }
  .grid4 {
    grid-area: 25 / 2 / 30 / 7;
    /* background-image: url(Assets/Images/Pablopicasso.jpg); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8%;
    box-shadow: 2px 2px 10px rgba(29, 46, 61, 0.685);
  }
  .grid5 {
    grid-area: 25 / 7 / 30 / 14;
    background-color: purple;
    /* background-image: url(Assets/Images/HenriMatise.jpg); */
    background-position: 20% 15%;
    height: auto;
    border-radius: 8%;
    box-shadow: 2px 2px 10px rgba(29, 46, 61, 0.685);
    background-size: cover;
  }
  .grid6 {
    grid-area: 13/ 2 / 25 / 14;
    /* background-color: yellow; */
    /* background-image: url(Assets/Images/sherman-film-still-photo.webp); */
    background-position: 90% 0%;
    background-repeat: no-repeat;
    height: auto;
    border-radius: 8%;
    box-shadow: 2px 2px 10px rgba(29, 46, 61, 0.685);
  }
  .grid6 img {
    object-position: 99% 1%;
    width: 100%;
  }
  .grid7 {
    grid-area: 30 / 2 / 35 / 9;
    background-color: brown;
    /* background-image: url(Assets/Images/Salvador_Dalí_1939.jpg); */
    background-position: 78% 41%;
    background-size: 150%;
    height: auto;
    border-radius: 8%;
    box-shadow: 2px 2px 10px rgba(29, 46, 61, 0.685);
  }
  .grid8 {
    grid-area: 30 / 9 / 35 / 14;
    background-color: gray;
    /* background-image: url(assets/images/Louise_Bourgeois.jpg); */
    background-position: center center;
    background-size: 150%;
    border-radius: 8%;
    box-shadow: 2px 2px 10px rgba(29, 46, 61, 0.685);
  }
  /* responsive mobile dark mode */
  nav label {
    width: 20px;
    height: 40px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
      inset 0px -5px 15px rgba(143, 142, 142, 0.4);
    cursor: pointer;
    transition: 420ms;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 40px;
  }

  nav label:after {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    top: 3px;
    left: 1px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 420ms;
  }

  nav input:checked + label {
    background: hsl(204 20% 18% / 1);
  }

  nav input:checked + label:after {
    left: 1px;
    transform: translateY(160%);
    background: linear-gradient(180deg, #777, #3a3a3a);
  }

  nav label:active::after {
    height: 24px;
    width: 14px;
  }

  nav label svg {
    position: absolute;
    width: 8px;
    top: 5px;
    z-index: 100;
  }

  nav label svg.sunIcon {
    left: 4px;
    top: 2px;
    transition: 0.3s;
  }

  nav label svg.moonIcon {
    left: 4px;
    top: 25px;
    fill: #242424;
    transition: 0.3s;
  }

  nav input:checked + label svg.sunIcon {
    fill: #7e7e7e;
  }
  nav input:checked + label svg.moonIcon {
    fill: #ffffff;
  }
}

@media only screen and (min-width: 1023px) {
  body {
    background-image: url(Assets/Images/Andrywarhol_desktop.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(2px);
    backdrop-filter: brightness(1%);
    backdrop-filter: saturate(50%);
    backdrop-filter: hue-rotate(-20deg);
    backdrop-filter: contrast(80%);
    transition: 1s;
  }
  .bodyDM {
    backdrop-filter: blur(2px);
    backdrop-filter: brightness(40%);
    backdrop-filter: saturate(-10%);
    transition: 1s;
  }
}
